/*@media (min-width: 550px){
  nav > .fa-bars {
    display: none;
  }*/

/*@media (max-width: 550px){
  .hidden--mobile {
    display: none;
  }*/
body {
  background-color: #f4f1de;
}

/* .topnav > ul > li {
  padding: 12px;
  color: #3d405b;
  text-decoration: none;
  font-size: 17px;
  flex-direction: row;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}
.topnav > ul > li:hover {
  background-color: #e07a5f;
} */

#Mainheading {
  background-color: #81b29a;
  background-size: cover;
  height: 20vh;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12;
  font-style: italic;
  font-weight: bolder;
  color: #3d405b;
}
#logo {
  display: flex;
  -ms-flex-item-align: start;
}

nav > ul {
  max-width: 900px;
  background-color: #81b29a;
  margin: 0 auto 0 auto;
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
}

nav > ul > li {
  text-align: left;
  padding: 12px;
  color: #3d405b;
  text-decoration: none;
  font-size: 17px;
  flex-direction: row;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}

/* Navbar links on mouse-over */
nav > ul > li:hover {
  background-color: #e07a5f;
}
/* @media (min-width: 900px) {
  navtop > ul {
    display: flex;
    justify-content: flex-end;
  }
} */

/* Current/active navbar link */
nav .active {
  background-color: #cdf1c3;
}

@media (min-width: 900px) {
  nav > ul > li {
    display: flex;
    justify-content: space-evenly;
  }
}
.container1 {
  max-width: 750px;
  margin: 20px auto 0 auto;
  padding: 30px;
  background-color:  #f4f1de;

}
.form-box {
  padding: 10px 0;
  display: flex;
}

.form-box label {
  padding-right: 10px;
  flex: 1;
}

.form-box input {
  flex: 1;
}
.content-layout {
  max-width: 900px;
  background-color:  #f4f1de;
  margin: 20px auto 0 auto;
  display: flex;
  flex-basis: 30%;
  color: #3d405b;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: medium;
  font-style: normal;
}

.side-bar {
  flex: 3;
  order: 2;
  padding: 20px;
}
.side-bar {
  flex: 1;
  order: 1;
  padding: 20px;
}
.side-bar {
  flex: 1;
  order: 3;
  padding: 20px;
}
@media (min-width: 900px) {
  .content-layout {
    display: flex;
    justify-content: space-between;
  }
}
.side-bar:nth-child(1) {background-color: #e07a5f;}
.side-bar:nth-child(2) {background-color: #cdf1c3;}
.side-bar:nth-child(3) {background-color: #81b29a;}

.footer-container {
  max-width: 1400px;
  margin: 40px auto 0 auto;
}
.option {
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
  flex-basis: 30%;
  font-family: Arial, Helvetica, sans-serif;
  color: #3d405b;
  font-weight: bold;
  font-style: italic;
}

@media (min-width: 900px) {
  .footer-container {
    display: flex;
    justify-content: space-between;
  }
}

.option:nth-child(1) {background-color: #e07a5f;}
.option:nth-child(2) {background-color: #cdf1c3;}
.option:nth-child(3) {background-color: #81b29a;}

#Contact {
  color: #3d405b;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-style: italic;
  font-size: medium;
  max-width: 900px;
  margin: 20px auto 0 auto;
  padding: 30px;
  background-color: #cdf1c3;
}

/* @media (min-width: 900px)
.image {
  display: flex;
  justify-content: end;
} */

.label {
  margin-bottom: 15px;
}
.terms {
  color: #e07a5f;
}

#signup {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #cdf1c3;
  color: #3d405b;
  max-width: 750px;
  margin: 20px auto 0 auto;
  padding: 30px;
}

* {
  box-sizing: border-box;
}

/* Add padding to containers */
.container {
  padding: 16px;
  background-color: #f4f1de;
}

/* Full-width input fields */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f4f1de;
}

input[type="text"]:focus input[type="password"]:focus {
  background-color:#cdf1c3;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f4f1de;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.cancelbtn .signupbtn{
  background-color: #cdf1c3;
  color: #3d405b;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.signupbtn:hover {
  opacity: 1;
}
/* Add a blue text color to links */
/* a {
  color: dodgerblue;
} */
/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f4f1de;
  text-align: center;
}
#features {
  color: #3d405b;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: medium;
  margin: 20px auto 0 auto;
  padding: 30px;
  background-color: #cdf1c3;
  max-width: 900px;
  box-sizing: border-box;
  flex-basis: 30%;
  height: 60vh;
}
@media (min-width: 900px){
  #features {
    display: flex;
    flex-direction: inherit;
  }
}
.image img {
  width: 25%;
  height: auto;
  margin-right: 1rem;
}

#login-form {
  color: #3d405b;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: medium;
  margin: 10px auto 0 auto;
  padding: 30px;
  background-color: #cdf1c3;
  max-width: 900px;
  box-sizing: border-box;
  height: 50vh;
}

@media {
  #login-form {
    display: flex;
   }
}
 .login-box {
  padding: 10px 0;
  display: flex;
}

/* .login-box label {
  padding-right: 10px;
  flex: 1;
} */

.login-box input {
  flex: 1;
}

#about {
   background: #cdf1c3;
   font-family: Arial, Helvetica, sans-serif;
   max-width: 900px;
   position: relative;
   box-sizing: border-box;
   margin: 0 auto 0 auto;
   padding: 30px;

 }
.about-image {
  position: left;
  overflow: hidden;
  width: 400px;
  height: 400px;
  float: left;
  border-radius: 50%;
  margin: 2%;
  shape-outside: circle();
}

.about-image img {
  position: absolute;
  top: 5%;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section p {
  color: #3d405b;
  line-height: 1.5em;
  text-align: justify;
}
section h2 {
  color: #3d405b;
  font-size: 2em;
  margin-bottom: 10px;
}

