/*@media (min-width: 550px){
  nav > .fa-bars {
    display: none;
  }*/

/*@media (max-width: 550px){
  .hidden--mobile {
    display: none;
  }*/

body {
  background-color: #f4f1de;
}

UserNav > ul > li {
  padding: 12px;
  color: #3d405b;
  text-decoration: none;
  font-size: 17px;
  flex-direction: row;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
UserNav > ul > li:hover {
  background-color: #e07a5f;
}

#Mainheading {
  background-color: #81b29a;
  background-size: cover;
  height: 20vh;
  color: #3d405b;
}
#logo {
  display: flex;
  -ms-flex-item-align: start;
}
.heading {
  display: flex;
  color: #3d405b;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: -90px 0 0 1100px;
}

nav > ul {
  max-width: 900px;
  background-color: #81b29a;
  margin: 0 auto 0 auto;
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
}

nav > ul > li {
  text-align: left;
  padding: 12px;
  color: #3d405b;
  text-decoration: none;
  font-size: 17px;
  flex-direction: row;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}

/* Navbar links on mouse-over */
nav > ul > li:hover {
  background-color: #e07a5f;
}
/* @media (min-width: 900px) {
  navtop > ul {
    display: flex;
    justify-content: flex-end;
  }
} */

/* Current/active navbar link */
nav .active {
  background-color: #cdf1c3;
}

@media (min-width: 900px) {
  nav > ul > li {
    display: flex;
    justify-content: space-evenly;
  }
}
.container1 {
  max-width: 750px;
  margin: 20px auto 0 auto;
  padding: 30px;
  background-color: #f4f1de;
}
.form-box {
  padding: 10px 0;
  display: flex;
}

.form-box label {
  padding-right: 10px;
  flex: 1;
}

.form-box input {
  flex: 1;
}
.content-layout {
  max-width: 900px;
  background-color: #f4f1de;
  margin: 20px auto 0 auto;
  display: flex;
  flex-basis: 30%;
  color: #3d405b;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: medium;
  font-style: normal;
}

.side-bar {
  flex: 3;
  order: 2;
  padding: 20px;
}
.side-bar {
  flex: 1;
  order: 1;
  padding: 20px;
}
.side-bar {
  flex: 1;
  order: 3;
  padding: 10px;
}
.side-bar img {
  height: 400px;
  width: 300px;
}

@media (min-width: 900px) {
  .content-layout {
    display: flex;
    justify-content: space-between;
  }
}
.side-bar:nth-child(1) {
  background-color: #e07a5f;
}
.side-bar:nth-child(2) {
  background-color: #81b29a;
}
.side-bar:nth-child(3) {
  background-color: #cdf1c3;
}

.footer-container {
  max-width: 900px;
  margin: 40px auto 0 auto;
}
.option {
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 10px;
  flex-basis: 30%;
  font-family: Arial, Helvetica, sans-serif;
  color: #3d405b;
  font-weight: bold;
  font-style: italic;
}
.option img {
  height: 200px;
  width: 300px;
  position: center;
}

@media (min-width: 900px) {
  .footer-container {
    display: flex;
    justify-content: space-between;
  }
}
.option {
  flex: 3;
  order: 1;
}
.option {
  flex: 1;
  order: 2;
}
.option {
  flex: 2;
  order: 3;
}
.option:nth-child(1) {
  background-color: #e07a5f;
}
.option:nth-child(2) {
  background-color: #81b29a;
}
.option:nth-child(3) {
  background-color: #cdf1c3;
}

/* @media (min-width: 900px)
.image {
  display: flex;
  justify-content: end;
} */

.label {
  margin-bottom: 15px;
}
.terms {
  color: #e07a5f;
}

#signup {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #cdf1c3;
  color: #3d405b;
  max-width: 750px;
  margin: 20px auto 0 auto;
  padding: 30px;
}

* {
  box-sizing: border-box;
}

/* Add padding to containers */
.container {
  padding: 12px;
  /*background-color: #f4f1de;*/
  height: 100vh;
}

/* Full-width input fields */
#signup input[type="text"],
input[type="password"] {
  width: 300px;
  /* padding: 15px;
  margin: 5px 0 15px 0;
  display: inline-block;
  border: none;
  background: #f4f1de;
  height: 32px; */
  margin: 5px;
  padding: 0 10px;
  height: 32px;
  color: #3d405b;
  background: white;
  border: 1px solid;
  border-color: #3d405b #cdf1c3 #81b29a;
  border-radius: 2px;
  outline: 5px solid #f4f1de;
  -moz-outline-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px #3d405b(0, 0, 0, 0.12);
  box-shadow: inset 0 1px 3px #3d405b(0, 0, 0, 0.12);
}

#signup input[type="text"]:focus input[type="password"]:focus {
  background-color: #cdf1c3;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 2px solid #e07a5f #3d405b #81b29a;
  margin-bottom: 20px;
}
/* Set a style for the submit button */
.signupbtn:hover {
  opacity: 1;
}
#signup .cancelbtn .signupbtn {
  background-color: #cdf1c3;
  color: #3d405b;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
#signup label {
  /* Uniform size & alignment */
  display: inline-block;
  width: 160px;
  text-align: right;
}
#signup input {
  /* Uniform text field size */
  width: 300px;
  box-sizing: border-box;
  border: 1px solid #999;
}

/* .container #signup {
  background-color: #f4f1de;
  text-align: center;
} */
#features {
  color: #3d405b;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: medium;
  margin: 20px auto 0 auto;
  padding: 30px;
  background-color: #cdf1c3;
  max-width: 900px;
  box-sizing: border-box;
  flex-basis: 30%;
  height: 90vh;
}
@media (min-width: 900px) {
  #features {
    display: flex;
    flex-direction: inherit;
  }
}
.feature-header {
  font-weight: bolder;
  font-size: large;
}
.image img {
  width: 25%;
  height: auto;
  margin-right: 1rem;
}

#login-form {
  color: #3d405b;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: medium;
  margin: 10px auto 0 auto;
  padding: 14px 20px;
  background-color: #cdf1c3;
  max-width: 900px;
  box-sizing: border-box;
  height: 60vh;
  cursor: pointer;
}

@media {
  #login-form {
    display: flex;
  }
}
/* .login-box {
  padding: 10px 0;
  display: flex;
} */

/* .login-box label {
  padding-right: 10px;
  flex: 1;
} */

/* .login-box input {
  flex: 1;
} */

#about {
  background: #cdf1c3;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 900px;
  position: relative;
  box-sizing: border-box;
  margin: 0 auto 0 auto;
  padding: 30px;
}
.about-image {
  position: left;
  overflow: hidden;
  width: 400px;
  height: 400px;
  float: left;
  border-radius: 50%;
  margin: 2%;
  shape-outside: circle();
}

.about-image img {
  position: absolute;
  top: 5%;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section p {
  color: #3d405b;
  line-height: 1.5em;
  text-align: justify;
}
section h2 {
  color: #3d405b;
  font-size: 2em;
  margin-bottom: 10px;
}

.login-form {
  font: 13px/20px "Lucida Grande", Tahoma, Verdana, sans-serif;
  color: #3d405b;
  background: #cdf1c3;
}

.login {
  position: relative;
  margin: 30px auto;
  padding: 20px 20px;
  width: 310px;
  background: #f4f1de;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 200px #cdf1c3;
  box-shadow: 0 0 200px #cdf1c3;
}

.login:before {
  content: "";
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  z-index: -1;
  background: #3d405b (0, 0, 0, 0.08);
  border-radius: 4px;
}

.login p {
  margin: 20px 0 0;
}

.login p:first-child {
  margin-top: 0;
}

.login p.remember_me {
  float: left;
  line-height: 31px;
}

.login p.remember_me label {
  font-size: 12px;
  color: #3d405b;
  cursor: pointer;
}

.login p.remember_me input {
  position: relative;
  bottom: 1px;
  margin-right: 4px;
  vertical-align: middle;
}

.login p.submit {
  text-align: right;
}

.login-help {
  margin: 20px 0;
  font-size: 11px;
  color: #f4f1de;
  text-align: center;
  text-shadow: 0 1px #cdf1c3;
}

.login-help a {
  color: #3d405b;
  text-decoration: none;
}

.login-help a:hover {
  text-decoration: underline;
}

:-moz-placeholder {
  color: #3d405b !important;
  font-size: 13px;
}

::-webkit-input-placeholder {
  color: #3d405b;
  font-size: 13px;
}

input {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

#login-form input[type="text"],
input[type="password"] {
  margin: 5px;
  padding: 0 10px;
  width: 200px;
  height: 34px;
  color: #3d405b;
  background: white;
  border: 1px solid;
  border-color: #3d405b #cdf1c3 #81b29a;
  border-radius: 2px;
  outline: 5px solid #f4f1de;
  -moz-outline-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px #3d405b(0, 0, 0, 0.12);
  box-shadow: inset 0 1px 3px #3d405b(0, 0, 0, 0.12);
}

#login-form input[type="text"]:focus,
input[type="password"]:focus {
  border-color: #81b29a;
  outline-color: #cdf1c3;
  outline-offset: 0;
}

#login-form input[type="submit"]:active {
  background: #f4f1de;
  border-color: #3d405b #cdf1c3 #81b29a;
  -webkit-box-shadow: inset 0 0 3px #81b29a(0, 0, 0, 0.2);
  box-shadow: inset 0 0 3px #cdf1c3(0, 0, 0, 0.2);
}

.product {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #cdf1c3;
  color: #3d405b;
  max-width: 900px;
  margin: 20px auto 0 auto;
  padding: 30px;
  font-weight: bolder;
}

.product {
  box-sizing: border-box;
}

#product-box {
  padding: 16px;
  background-color: #cdf1c3;
  height: 95vh;
}
#product-box label {
  /* Uniform size & alignment */
  display: inline-block;
  width: 150px;
  text-align: right;
  color: #3d405b;
}
#product-box input {
  /* Uniform text field size */
  width: 300px;
  box-sizing: border-box;
  border: 1px solid #999;
  height: 33px;
  margin: 5px;
  padding: 0 10px;
  width: 240px;
  color: #3d405b;
  background: white;
  border: 1px solid;
  border-color: #3d405b #cdf1c3 #81b29a;
  border-radius: 2px;
  outline: 5px solid #f4f1de;
  -moz-outline-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px #3d405b(0, 0, 0, 0.12);
  box-shadow: inset 0 1px 3px #3d405b(0, 0, 0, 0.12);
}

#search input {
  color: #cdf1c3;
  font-family: Arial, Helvetica, sans-serif;
}
#searchbar {
  box-sizing: border-box;
  height: 30vh;
  background-color: #cdf1c3;
  margin: 20px auto 0 auto;
  display: flex;
  max-width: 900px;
  padding: 60px 40px 40px 300px;
  font-size: 16px;
  font-family: Montserrat, sans-serif;
}
.search_input {
  margin: 5px;
  padding: 0 10px;
  width: 200px;
  height: 34px;
  color: #3d405b;
  background: white;
  border: 1px solid;
  border-color: #3d405b #cdf1c3 #81b29a;
  border-radius: 2px;
  outline: 5px solid #f4f1de;
  -moz-outline-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px #3d405b(0, 0, 0, 0.12);
  box-shadow: inset 0 1px 3px #3d405b(0, 0, 0, 0.12);
}
.productlist {
  color: #000000;
}

#producttable {
  max-width: 900px;
  background-color: #cdf1c3;
  height: 90vh;
  margin: 20px auto 0 auto;
  float: center;
  padding: 60px 40px 40px 80px;
}
#addproduct {
  border: 2px solid #3d405b;
  background-color: #81b29a;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
}
#addproduct:hover {
  background-color: #e07a5f;
}

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4caf50;
  color: white;
}

#Contact {
  color: #3d405b;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-style: italic;
  font-size: medium;
  max-width: 900px;
  margin: 20px auto 0 auto;
  padding: 30px;
  background-color: #cdf1c3;
  height: 110vh;
}
#formspree {
  padding: 30px;
  background-color: #cdf1c3;
  height: 60vh;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #cdf1c3;
  color: #3d405b;
  max-width: 700px;
  margin: 0 auto 0 30px;
  font-weight: bold;
}
#formspree label {
  /* Uniform size & alignment */
  display: inline-block;
  width: 150px;
  text-align: left;
  color: #3d405b;
}
#formspree input {
  /* Uniform text field size */
  width: 300px;
  box-sizing: border-box;
  border: 3px solid #3d405b;
  height: 33px;
  margin: 5px;
  padding: 0 10px;
  color: #3d405b;
  background: #f4f1de;
  border: 1px solid;
  border-color: #3d405b #cdf1c3 #81b29a;
  border-radius: 2px;
  outline: 5px solid #f4f1de;
  -moz-outline-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px #3d405b(0, 0, 0, 0.12);
  box-shadow: inset 0 1px 3px #3d405b(0, 0, 0, 0.12);
}
.messagebox {
  width: 300px;
  box-sizing: border-box;
  border: 1px solid #3d405b;
  height: 15vh;
  margin: 0 0 0 50px;
  padding: 0 10px;
  color: #3d405b;
  background: #f4f1de;
  border: 1px solid;
  border-color: #3d405b #cdf1c3 #81b29a;
  border-radius: 2px;
  outline: 5px solid #f4f1de;
  -moz-outline-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px #3d405b(0, 0, 0, 0.12);
  box-shadow: inset 0 1px 3px #3d405b(0, 0, 0, 0.12);
}

#formspree {
  box-sizing: border-box;
}
.messagebox {
  /* Uniform size & alignment */
  display: inline-block;
  text-align: left;
  color: #3d405b;
}
#message textarea {
  width: 300px;
  display: inline-block;
}
#Faq {
  color: #3d405b;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: medium;
  margin: 0 auto 150px auto;
  padding: 30px;
  background-color: #cdf1c3;
  max-width: 900px;
  box-sizing: border-box;
  flex-basis: 30%;
  height: 60vh;
}
@media (min-width: 900px) {
  #Faq {
    display: flex;
    flex-direction: inherit;
  }
}
#Faqs h3 {
  font-weight: bold;
  font-size: large;
}
.bulb {
  margin: -230px 0 100px 425px;
}
